@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- todo, allow specification of gallery directory and creation via a new gallery link -->
@if (!Directory.Exists(AppDomain.CurrentDomain.BaseDirectory + @"\Files\"))
{
    Directory.CreateDirectory(AppDomain.CurrentDomain.BaseDirectory + @"\Files\");
}
else
{
    foreach (var f in Directory.EnumerateFiles(AppDomain.CurrentDomain.BaseDirectory + @"\Files\", "*.jpg"))
    {
        var img = Path.GetFileName(f);
        // todo: make the uploader generate thumbs and specify the gallery and thumbnail directories
        <img src="~/Files/@img" height="90" />
    }
}