@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- todo, allow specification of gallery directory and creation via a new gallery link -->
@if (!Directory.Exists(AppDomain.CurrentDomain.BaseDirectory + @"\images\thumbs\"))
{
    Directory.CreateDirectory(AppDomain.CurrentDomain.BaseDirectory + @"\images\thumbs\");
}
else 
{
    foreach (var f in Directory.EnumerateFiles(AppDomain.CurrentDomain.BaseDirectory + @"\images\thumbs\", "*.jpg"))
            {
    var img = Path.GetFileName(f);
    <img src="~/images/thumbs/@img" height="90" />
            }
            }