@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var f in Directory.EnumerateFiles(AppDomain.CurrentDomain.BaseDirectory + @"\images\thumbs\", "*.jpg"))
{
    var img = Path.GetFileName(f);
    <img src="~/images/thumbs/@img" height="90" />
}
